/* Color scheme */
html .vp-doc {
  --vt-code-comment: #a0ada0;
  --vt-code-punctuation: #8e8f8b;
  --vt-code-attribute: #429988;
  --vt-code-constant: #a65e2b;
  --vt-code-keyword: #1c6b48;
  --vt-code-variable: #c2b36e;

  --vt-code-string: #b56959;
  --vt-code-boolean: #1c6b48;
  --vt-code-number: #296aa3;
  --vt-code-entity: #2993a3;
  --vt-code-function-name: #6c7834;
  --vt-code-function: #6c7834;

  --vt-code-inserted: #1c6b48;
  --vt-code-deleted: #a14f55;

  /* --vp-code-line-number-color: red; */
}

html.dark .vp-doc {
  --vt-code-comment: #758575;
  --vt-code-punctuation: #8e8f8b;
  --vt-code-attribute: #2f8a89;
  --vt-code-constant: #a65e2b;
  --vt-code-keyword: #4d9375;
  --vt-code-variable: #c2b36e;

  --vt-code-string: #d48372;
  --vt-code-boolean: #1c6b48;
  --vt-code-number: #6394bf;
  --vt-code-entity: #54b1bf;
  --vt-code-function-name: #a1b567;
  --vt-code-function: #a1b567;

  --vt-code-inserted: #4d9375;
  --vt-code-deleted: #bc6066;

  /* --vp-code-line-number-color: green; */
}

/* Overrides */
:not(pre) > code {
  padding: 1px 6px;
  border-radius: 3px;
}

a > code {
  color: var(--vt-c-brand) !important;
}

.vp-doc [class*="language-"] pre {
  padding: 24px;
}

.vp-doc div[class*="language-"] {
  background: #fafafa;
}

html.dark .vp-doc div[class*="language-"] {
  background: #1d1d1d;
}
