:root {
  --vp-sidebar-width-mobile: 280px;
  --vp-sidebar-width-small: 220px;
  --vp-sidebar-width-medium: 220px;
  --vp-sidebar-width-large: 220px;

  --vt-c-brand-active: #44bd87;

  --vt-c-disabled-bg: #88888850;
  --vt-c-disabled-fg: inherit;

  --vp-c-green: #409eff;
  --vp-c-green-light: #337ecc;
  --vp-c-green-lighter: #337ecc;
  --vp-c-green-dark: #337ecc;
}

.VPImage.logo {
  margin-right: 0;
}

.vp-doc h1 {
  margin: 0 0 1rem;
}

.vp-doc h2 {
  margin: 32px 0 8px 0;
  border-top: none;
  padding-top: 0;
  opacity: 0.8;
  font-size: 22px;
}

.vp-doc h2 + div[class*="language-"] {
  margin-top: 10px;
}

.vp-doc h3 + div[class*="language-"] {
  margin-top: 10px;
}

.aside {
  width: 220px !important;
}

.vp-doc .container,
.vp-doc .content {
  max-width: 900px !important;
}

.VPContentDoc .container {
  place-content: space-around !important;
}

.home h2 {
  margin-top: 2rem;
  font-size: 1.35rem;
  border-bottom: none;
  margin-bottom: 0;
}

.outline-marker {
  width: 4px !important;
  height: 20px !important;
  border-radius: 4px !important;
  left: 5px !important;
}

.VPDocAsideOutline .content {
  border-left: none !important;
}

.VPDocAsideOutline .outline-link.active {
  color: #409eff !important;
}

.vp-doc p,
.vp-doc summary {
  opacity: 0.8 !important;
}

.custom-block.tip {
  color: var(--vp-c-brand);
}

table tbody tr {
  background: transparent !important;
}
table tbody tr:hover {
  background: var(--vp-c-bg-soft) !important;
}

/* 覆盖naive-ui样式 */
.n-gradient-text {
  white-space: inherit;
}

.github-release-tag {
  font-size: 14px;
  font-weight: bold;
  padding: 4px 6px;
  margin-left: 6px;
  background: var(--vp-c-green);
  color: white;
  border-radius: 10px;
  vertical-align: middle;
}
