/**
 * Colors
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-brand-1: #646cff; /* https://github.com/vuejs/vitepress/pull/2797 */
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
  --vp-c-brand-lighter: #9499ff;
  --vp-c-brand-lightest: #bcc0ff;
  --vp-c-brand-dark: #535bf2;
  --vp-c-brand-darker: #454ce1;
  --vp-c-brand-dimm: rgba(100, 108, 255, 0.08);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: var(--vp-c-brand-light);
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand);
  --vp-button-brand-hover-border: var(--vp-c-brand-light);
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-light);
  --vp-button-brand-active-border: var(--vp-c-brand-light);
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-button-brand-bg);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );

  /* --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(40px); */
}

/* @media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(72px);
  }
} */

/**
 * VitePress: Custom fix
 * -------------------------------------------------------------------------- */

/*
  Use lighter colors for links in dark mode for a11y.
  Also specify some classes twice to have higher specificity
  over scoped class data attribute.
*/
.dark .vp-doc a,
.dark .vp-doc a > code,
.dark .VPNavBarMenuLink.VPNavBarMenuLink:hover,
.dark .VPNavBarMenuLink.VPNavBarMenuLink.active,
.dark .link.link:hover,
.dark .link.link.active,
.dark .edit-link-button.edit-link-button,
.dark .pager-link .title {
  color: var(--vp-c-brand-lighter);
}

.dark .vp-doc a:hover,
.dark .vp-doc a > code:hover {
  color: var(--vp-c-brand-lightest);
  opacity: 1;
}

/* Transition by color instead of opacity */
.dark .vp-doc .custom-block a {
  transition: color 0.25s;
}

.vp-sponsor.aside .vp-sponsor-grid.mini .vp-sponsor-grid-image {
  max-width: 124px;
}

.VPImage.logo {
  margin-right: 0;
}

.VPImage.image-src {
  max-width: 460px;
}

@media screen and (max-width: 640px) {
  .VPImage.image-src {
    max-width: 320px !important;
  }
}

.vp-doc h1 {
  margin: 0 0 1rem;
}

.vp-doc h2 {
  margin: 32px 0 8px 0;
  border-top: none;
  /* padding-top: 0; */
  /* opacity: 0.8; */
  font-size: 22px;
}

.vp-doc h2 + div[class*="language-"] {
  margin-top: 10px;
}

.vp-doc h3 + div[class*="language-"] {
  margin-top: 10px;
}

.aside {
  width: 220px !important;
}

.vp-doc .container,
.vp-doc .content {
  max-width: 900px !important;
}

.VPContentDoc .container {
  place-content: space-around !important;
}

.home h2 {
  margin-top: 2rem;
  font-size: 1.35rem;
  border-bottom: none;
  margin-bottom: 0;
}

.outline-marker {
  width: 4px !important;
  height: 20px !important;
  border-radius: 4px !important;
  left: 5px !important;
}

.VPDocAsideOutline .content {
  border-left: none !important;
}

.VPDocAsideOutline .outline-link.active {
  color: #409eff !important;
}

.vp-doc p,
.vp-doc summary {
  opacity: 0.8 !important;
}

.custom-block {
  /* padding: 16px; */
}
.custom-block.tip {
  color: var(--vp-c-brand);
}

table tbody tr {
  background: transparent !important;
}
table tbody tr:hover {
  background: var(--vp-c-bg-soft) !important;
}

/* 覆盖naive-ui样式 */
.n-gradient-text {
  white-space: inherit;
}

.github-release-tag {
  font-size: 14px;
  font-weight: bold;
  padding: 4px 6px;
  margin-left: 6px;
  background: var(--vp-c-brand);
  color: white;
  border-radius: 10px;
  vertical-align: middle;
}

.pureadminutils-outline-label-num {
  font-size: 12px;
  font-weight: bold;
  padding: 4px;
  margin-left: 4px;
  background: var(--vp-c-brand);
  color: white;
  border-radius: 6px;
  vertical-align: middle;
}
